body {
    background: #90A5F0;
}

.bg {
    background-image: url(../../../../public/images/bg-image.jpg);
    background-size: cover;
    background-position: center center;
}

h3.page-title {
    color: #3532A5;
    font-weight: 750;
    font-size: 15px;
    font-style: bold;
}

h2.page-title {
    color: #3532A5;
    font-weight: 800;
    font-size: 22px;
    font-style: bold;
}

h1.page-title {
    color: #3532A5;
    font-weight: 800;
    font-size: 32px;
    font-style: bold;
}

.text-form {
    font-family: 'Inter', sans-serif;
}